<div class='container padding-0'>
	<div class='jumbotron'>
    <div class="row">
      <div class="col-md-12">
        <h3>Rough Planning for next 10 days:</h3>
        <div class="row rough-plan">
          <div class="col-md-12 rough-tunnel-one">tunnel one</div>
          <div class="col-md-12 rough-tunnel-two">tunnel two</div>
          <div class="col-md-12 rough-tunnel-three">tunnel three</div>
          <div class="col-md-12 rough-tunnel-four">tunnel four</div>
          <div class="col-md-12 rough-tunnel-five">tunnel five</div>
        </div>
				<div class="next-to-detailed">
					<a class="btn btn-raised btn-primary" href="<%= ewima_summary_path %>" role="button"> NEXT </a>
				</div>
      </div>
    </div>
	</div>
</div>
