<div class='container'>
	<div class='jumbotron'>
		<div class="row">

			<div class="col-md-12">
				<h2 class="preferred-schedule">Please select your preferred schedule: </h2>
			</div>

			<div class="col-md-12">

				<div class="col-md-6">
					<h4 class="schedule-choices"> Schedule A </h4>
					<div class="col-md-12 preference-graph-one">
					</div>
					<div class="select-choice">
						<a class="btn btn-raised btn-primary" href="<%= ewima_summary_path %>" role="button"> SELECT </a>
					</div>
				</div>

				<div class="col-md-6">
					<h4 class="schedule-choices"> Schedule B </h4>
					<div class="col-md-12 preference-graph-two">
					</div>
					<div class="select-choice">
						<a class="btn btn-raised btn-primary" href="<%= ewima_summary_path %>" role="button"> SELECT </a>
					</div>
				</div>

			</div>

			<div class="col-md-12">

				<div class="col-md-6">
					<h4 class="schedule-choices"> Schedule C </h4>
					<div class="col-md-12 preference-graph-three">
					</div>
					<div class="select-choice">
						<a class="btn btn-raised btn-primary" href="<%= ewima_summary_path %>" role="button"> SELECT </a>
					</div>
				</div>

				<div class="col-md-6">
					<h4 class="schedule-choices"> Schedule D </h4>
					<div class="col-md-12 preference-graph-four">
					</div>
					<div class="select-choice">
						<a class="btn btn-raised btn-primary" href="<%= ewima_summary_path %>" role="button"> SELECT </a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
