<div class='container'>
	<div class='jumbotron'>
		<div class="row">

			<div class="col-md-12">
				<h2 class="preferred-schedule"> Summary and Statistics: </h2>
			</div>

			<div class="col-md-12">

        <div class="col-md-6">
  				<h4 class="schedule-choices"> Optimal Schedule </h4>
  				<div class="col-md-12 optimal-graph">
  				</div>
  			</div>

  			<div class="col-md-6">
  				<h4 class="schedule-choices"> Statistics: </h4>
					<div class="col-md-12">
						<h5 class="h5-schedule-choices"> Current Belt One Velocity (v1): 25 km/hour </h5>
						<h5 class="h5-schedule-choices"> Current Belt Two Velocity (v2): 30 km/hour </h5>
						<h5 class="h5-schedule-choices"> Current Energy Price: <img src="<%= asset_path('euro_symbol.png') %>" class="euro-sign"> 33.5 per unit</h5>
						<h5 class="h5-schedule-choices"> Current Energy Consumption: 51 kWh</h5>
						<h5 class="h5-schedule-choices"> User Status: </h5>
						<h4> <i class="material-icons user-status">sentiment_satisfied</i> </h4>
					</div>
  			</div>

      </div>

      <div class="col-md-12" style="margin-top: 30px;">

        <div class="col-md-6">
          <h4 class="schedule-choices"> Energy Consumption </h4>
          <div class="col-md-12 energy-consumption-graph">
          </div>
        </div>

        <div class="col-md-6">
          <h4 class="schedule-choices"> Energy Price </h4>
          <div class="col-md-12 energy-price-graph">
          </div>
        </div>

      </div>

		</div>
	</div>
</div>
