<div class="container">
  <div class="jumbotron printer-energy-container">
    <div>
      <button class="line-chart" type="button">Line Chart View</button>
      <button class="column-chart" type="button">Column Chart View</button>
    </div>
    <div id="printer_graph_data">

    </div>
  </div>
</div>
