<div class="container padding-0">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<!-- <h3 class="panel-title"><a href="<%= controlling_path %>" class="content-links" >Controlling</a></h3> -->
						<h3 class="panel-title">Controlling</h3>
					</div>
					<div class="panel-body">
						A Simple visualization of the data in a sql data base + Some calculated
						characteristic values like meanvalue, minimal value, maximal value etc.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="<%= ewima_preference_selection_path %>" class="content-links" >EWIMA</a></h3>
					</div>
					<div class="panel-body">
						The aim of the project EWIMA is the prototypical construction of regional virtual power
						plants in NRW. The approach pursued is the further development of operational energy
						management for a cross-company optimization of consumption, generation and storage of
						energy in the direct company neighborhood. key innovation is a central IoT platform
						that enables complex functions and services.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Waste Prediction</h3>
					</div>
					<div class="panel-body">
						<a href="https://10ay.online.tableau.com/#/site/rwthaachenuniversity/views/20161005_ANNPrediction/Monatlich?:iid=1" target="_blank">click here to see the prediction</a>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<!-- <h3 class="panel-title"><a href="<%= energy_path %>" class="content-links" >Energy</a></h3> -->
						<h3 class="panel-title">Energy</h3>
					</div>
					<div class="panel-body">
						General overview of the energy generation vs energy consumption and some
						statistical datas.
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Planning</h3>
					</div>
					<div class="panel-body">
						This should look like a control panel where one can see when which job is
						done on which machine. Here  we should visualize a full shop floor.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Analyzing</h3>
					</div>
					<div class="panel-body">
						Here we want to show the results of analytics. Two examples here:
						<ul>
							<li>
								Show maybe with the help of colours the results of a clustering in
								time series or a prediction
							</li>

							<li>
								It would be nice if we could show our results from tableau
								(I have a tableau desktop and tableau cloud licence)
							</li>
						</ul>

					</div>
				</div>
				<% if Rails.env == "development" %>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"><a href="<%= demo_coding_path %>" class="content-links" > Demo Coding </a></h3>
						</div>
						<div class="panel-body">
							Trying new codes for personal learning.
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
