<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<!-- <h3 class="panel-title"><a href="<%= controlling_path %>" class="content-links" >Controlling</a></h3> -->
						<h3 class="panel-title">Controlling</h3>
					</div>
					<div class="panel-body">
						A Simple visualization of the data in a sql data base + Some calculated
						characteristic values like meanvalue, minimal value, maximal value etc.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Gaming</h3>
					</div>
					<div class="panel-body">
						Similar to the Polar-game we want to make a web-based
						game for the project flaixenergy
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="<%= energy_path %>" class="content-links" >Energy</a></h3>
					</div>
					<div class="panel-body">
						General overview of the energy generation vs energy consumption and some
						statistical datas.
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Planning</h3>
					</div>
					<div class="panel-body">
						This should look like a control panel where one can see when which job is
						done on which machine. Here  we should visualize a full shop floor.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Analyzing</h3>
					</div>
					<div class="panel-body">
						Here we want to show the results of analytics. Two examples here:
						<ul>
							<li>
								Show maybe with the help of colours the results of a clustering in
								time series or a prediction
							</li>

							<li>
								It would be nice if we could show our results from tableau
								(I have a tableau desktop and tableau cloud licence)
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
