<div class='container'>
	<div class='jumbotron'>
		<div class="row">
			<!-- <div class="col-md-3">
				<ul>
					<%# @tables.each do |item| %>
						<li> <%#= item %> </li>
					<%# end %>
				</ul>
			</div> -->
			<div class="col-md-12">
				<h3>Statistical data of some machines </h3>
			</div>
			<div class="col-md-12 graph">
			</div>
			<div class="col-md-12">
				<% TbWeidmuellerHf2::MACHINES.each_with_index do |item, index| %>
					<div class="checkbox machine-checkbox <%= index > 0 ? 'pd-checkbox' : 'pd-' + item %>">
						<label class="ck-label">
							<input type="checkbox" class="<%= item %>" checked >
							<span class="checkbox-material"><span class="check"></span></span>
							<%= item %>
						</label>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
