<div class='container'>
	<nav class="pers-nav">
	  <ul class="nav nav-justified pers-links">
		<li><a href="<%= controlling_path %>">Controlling</a></li>
		<li><a href="#">Gaming</a></li>
		<li><a href="#">Planning</a></li>
		<li><a href="#">Analyzing</a></li>
	  </ul>
    </nav>
	<div class='jumbotron'>
		<div class="row">
			<div class="col-md-3">
				<ul>
					<% @tables.each do |item| %>
						<li> <%= item %> </li>
					<% end %>
				</ul>
			</div>
			<div class="col-md-9 graph">
			</div>
		</div>
	</div>
</div>
