<div class="container">
  <div class="jumbotron energy-container">
      <div class="row">
        <div class="col-md-8 table-responsive">
          <table class="table tb-en">
            <tr>
              <td class="gen-td"><img src="assets/solarandwinmill.jpg" class="img-circle img-responsive eng-gen"></td>
              <td class="edge-one">
                <div class="div-edge">
                  <div class="edge-left"></div>
                  <div class="edge-right"></div>
                </div>
              </td>
              <td class="res-td"><img src="assets/residents.png" class="img-circle img-responsive eng-con res"></td>
            </tr>
            <tr class="tr-gap">
              <td>
                <div class="div-edge rotate-edge-90">
                  <div class="edge-left"></div>
                  <div class="edge-right"></div>
                </div>
              </td>
              <td>
                <div class="div-edge rotate-edge">
                  <div class="edge-left"></div>
                  <div class="edge-right"></div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><img src="assets/cars.png" class="img-circle img-responsive eng-con car"></td>
              <td></td>
              <td><a href="#"><img src="assets/factories.jpg" class="img-circle img-responsive eng-con fact"></a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 weather">
        </div>
      </div>
    </div>
</div>
