<div class="container">
  <div class="jumbotron energy-container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/solarandwinmill.jpg" class="img-circle img-responsive eng-gen">
            </div>
            <div class="col-md-6">
              <img src="assets/residents.png" class="img-circle img-responsive eng-con res">
            </div>
          </div>
          <div class="row car-fact">
            <div class="col-md-6">
              <img src="assets/cars.png" class="img-circle img-responsive eng-con">
            </div>
            <div class="col-md-6">
              <img src="assets/factories.jpg" class="img-circle img-responsive eng-con fact">
            </div>
          </div>
        </div>
        <div class="col-md-2 weather">
        </div>
      </div>
    </div>
</div>
