.navbar.navbar-custom {
	background-color: #717DC3;
}

.navbar-nav-custom {
	float: right;
}

.gap {
	margin: 95px 0 0 0;
}

.content-links:hover {
	color: #fff;
}

.pers-links {
	background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pers-nav {
	margin-bottom: 20px;
}

.energy-container {
 	background: linear-gradient(to right bottom, rgba(187, 208, 103, 0.76), rgba(64, 134, 98, 0.81));
}

.eng-gen {
	height: 250px;
	width: 250px;
	-moz-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	-webkit-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	box-shadow: -4px 11px 10px rgb(82, 117, 101);
}

.eng-con {
	height: 200px;
	width: 200px;
	-moz-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	-webkit-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	box-shadow: -4px 11px 10px rgb(82, 117, 101);
}

.car-fact {
	margin-top: 200px;
}

.car {
	float: left;
  margin-left: 26px;
}

.res {
	float: right;
	margin-top: 30px;
}

.fact {
	float: left;
	margin-bottom: 0;
	margin-left: -115px;
	margin-right: 0;
	margin-top: -135px;

}

.gen-td {
	width: 268px;
}

.res-td {
	width: 218px;
}

.div-edge {
	width: 100%;
	margin: 50% 0 auto;
}

.edge-left {
	 border-bottom: 4px solid black;
	 border-left: 4px solid transparent;
	 border-top: 4px solid black;
	 float: left;
	 width: 93%;

}

.edge-right {
		border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    border-top: 4px solid transparent;
    float: right;
    width: 7%;

}

.tr-gap {
	height: 250px;
}

.rotate-edge {
	transform: rotate(44deg);
	margin-bottom: 0;
  margin-left: -56px;
  margin-right: 0;
  margin-top: 42px;
}

.rotate-edge-90 {
	margin: 50% 25px auto;
	width: 83%;
	transform: rotate(90deg);
}

.tb-en > tbody > tr > td {
		border-top-color: none;
    border-top-style: none;
    border-top-width: none;
}
