/*This is the custom css file. Here we are changing the default design
	of bootsrap according to our specification.
	Media queries we have used here are.

	@media (max-width: 543px)
	@media (min-width: 544px) and (max-width: 767px)
	@media (min-width: 768px)
	@media (min-width: 768px) and (max-width: 991px)
	@media (min-width: 992px)
	@media (min-width: 1200px)

*/

.navbar.navbar-custom {
	background-color: #717DC3;
}

.navbar-nav-custom {
	float: right;
}

.gap {
	margin: 95px 0 0 0;
}

.content-links:hover {
	color: #fff;
}

.pers-links {
	background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pers-nav {
	margin-bottom: 20px;
}

.energy-container {
 	background: linear-gradient(to right bottom, rgba(187, 208, 103, 0.76), rgba(64, 134, 98, 0.81));
}

.eng-gen {
	height: 250px;
	width: 250px;
	-moz-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	-webkit-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	box-shadow: -4px 11px 10px rgb(82, 117, 101);
}

.eng-con {
	height: 200px;
	width: 200px;
	-moz-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	-webkit-box-shadow: -4px 11px 10px rgb(82, 117, 101);
	box-shadow: -4px 11px 10px rgb(82, 117, 101);
	cursor: pointer;
}

.car-fact {
	margin-top: 200px;
}

.car {
	float: left;
  margin-left: 26px;
}

.res {
	float: right;
	margin-top: 30px;
}

.fact {
	float: left;
	margin-bottom: 0;
	margin-left: -115px;
	margin-right: 0;
	margin-top: -135px;

}

.gen-td {
	width: 268px;
}

.res-td {
	width: 218px;
}

.div-edge {
	width: 100%;
	margin: 50% 0 auto;
}

.edge-left {
	 border-bottom: 4px solid black;
	 border-left: 4px solid transparent;
	 border-top: 4px solid black;
	 float: left;
	 width: 93%;

}

.edge-right {
		border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    border-top: 4px solid transparent;
    float: right;
    width: 7%;

}

.tr-gap {
	height: 250px;
}

.rotate-edge {
	transform: rotate(44deg);
	margin-bottom: 0;
  margin-left: -56px;
  margin-right: 0;
  margin-top: 42px;
}

.rotate-edge-90 {
	margin: 50% 25px auto;
	width: 83%;
	transform: rotate(90deg);
}

.tb-en > tbody > tr > td {
		border-top-color: none;
    border-top-style: none;
    border-top-width: none;
}

.tab-desk-view {
	border: none;
}

.eng-con:hover {
		-moz-box-shadow: -4px 11px 10px rgb(214, 214, 214);
		-webkit-box-shadow: -4px 11px 10px rgb(214, 214, 214);
    box-shadow: -4px 11px 10px rgb(214, 214, 214);
}

.choose-machine {
	display: none;
}

.printer-energy-container {
	/*background: linear-gradient(to right bottom, rgba(81, 174, 210, 0.78), rgba(224, 224, 224, 0.55));*/
}

.img-printer {
	margin: 0 0 20px 0;
}

.printer-link {
	cursor: pointer;
}

.datewise-data {
  fill: #0df200;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #0df200;
}

.high-datewise-data {
	stroke: #e82525;
	fill: #e82525;
	fill-opacity: 0;
	stroke-width: 3px;
}

.power-more-20 {
	fill: #ff0000;
	fill-opacity: 0;
	stroke-width: 2px;
  stroke: #ff0000;
}

.on-the-fly {
    font-size: 20px;
    color: #26bbff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.consumption-from {
	color: #26bbff;
	font-size: 20px;
	padding: 4px 0 0 0;
}

.custom-btn-info {
	margin: 0 0 0 0;
}

.rolling-img {
	width: 20px;
	display: inline;
	margin-left: 10px;
}

#load-printer-date-data-loader {
	display: none;
}


.sl-custom-form-group, .dt-custom-form-group, .ld-custom-form-group {
	margin: 0;
}

.machine-checkbox {
	display: inline-block;
}

.pd-checkbox {
	padding: 0 0 0 55px;
}

.checkbox label.ck-label {
	color: #000000;
}

.graph {
	margin: 15px 0 15px 0;
}

.point-label {
	display: none;
}

circle.vis-point {
	cursor: pointer;
}

circle.vis-point:hover + text.point-label {
	display: inline-block;
}

.horizontal-line {
	height: 2px;
  background-color: #cecdcd;
	margin: 0 0 39px 0;
}

/**** Above css's are the actual css. Below css are the view specific css ****/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Mobile devices smaller than 543px*/
@media (max-width: 543px) {
	.custom-ld {
		margin: 0 0 10px 0;
	}

	.custom-st-dt {
		min-width: 100%;
	}

	.custom-hour {
		min-width: 40%;
	}

	.consumption-from {
			font-size: 15px;
	}

	.on-the-fly {
    font-size: 15px;
	}

	.printer-img-div {
			padding: 0;
			max-width: 65px;
	}

	.printer-img {
		min-width: 100px;
		margin: 0 0 0 -18px;
	}

	.h3-label-dtf {
		font-size: 20px;
    margin: 4px 0 3px 0;
	}

	.jumbotron p.para-consm {
		font-size: 12px;
	}

	.img-printer {
    margin: 0;
	}

	.eng-gen {
    height: 100px;
    width: 100px;
		-moz-box-shadow: -4px 5px 10px rgb(82, 117, 101);
		-webkit-box-shadow: -4px 5px 10px rgb(82, 117, 101);
		box-shadow: -4px 5px 10px rgb(82, 117, 101);

	}

	.gen-td {
    width: 102px;
	}

	.eng-con {
    height: 60px;
    width: 60px;
		-moz-box-shadow: -4px 5px 10px rgb(82, 117, 101);
		-webkit-box-shadow: -4px 5px 10px rgb(82, 117, 101);
		box-shadow: -4px 5px 10px rgb(82, 117, 101);
	}

	.res-td {
    width: 78px;
	}

	.tab-desk-view {
		width: 282px;
		margin: 0 auto;
	}

	.tr-gap {
    height: 102px;
	}

	.div-edge {
		margin: 74% 7px auto;
	}

	.rotate-edge {
		margin-left: -14px;
		margin-top: 20px;
	}

	.rotate-edge-90 {
		margin: 50% 19px auto;
    width: 69%;
	}

	.car {
    margin: 0 0 18px 22px;
	}

	.fact {
		margin-left: -24px;
		margin-top: -52px;
	}

	.weather {
		float: right;
		font-size: 12px
	}

	.weather h2 {
		font-size: 24px
	}

	.tb-en > tbody > tr > td {
		padding: 0;

	}

	.eng-con:hover {
			-moz-box-shadow: -4px 5px 10px rgb(214, 214, 214);
			-webkit-box-shadow: -4px 5px 10px rgb(214, 214, 214);
	  	box-shadow: -4px 5px 10px rgb(214, 214, 214);
	}

}

/*Mobile and Tab devices betwwen 544px and 767px*/
@media (min-width: 544px) and (max-width: 767px) {
	.h3-label-dtf {
		padding: 0 0 0 12px;
	}

	.jumbotron p.para-consm {
		padding: 0 0 0 12px;
    font-size: 16px;
	}

	.printer-img {
		min-width: 153px;
	}

	.printer-img-div {
		padding: 0;
	}

	.eng-gen {
    height: 180px;
    width: 180px;

	}

	.gen-td {
    width: 198px;
	}

	.eng-con {
    height: 130px;
    width: 130px;
	}

	.res-td {
    width: 148px;
	}

	.tab-desk-view {
		width: 506px;
		margin: 0 auto;
	}

	.tr-gap {
    height: 155px;
	}

	.div-edge {
		margin: 66% 0 auto;
	}

	.rotate-edge {
    margin-left: -39px;
    margin-top: 16px;
	}

	.rotate-edge-90 {
		margin: 41% 31px auto;
    width: 69%;
	}

	.car {
    margin: 0 0 10px 26px;
	}

	.fact {
    margin-left: -79px;
    margin-top: -100px;
	}

	.weather {
		float: right;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.eng-gen {
    height: 230px;
    width: 230px;
	}

	.gen-td {
    width: 248px;
	}

	.eng-con {
    height: 180px;
    width: 180px;
	}

	.res-td {
    width: 198px;
	}

	.tr-gap {
    height: 230px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.weather {
		float: right;
	}

	.printer-img-div {
		padding: 0;
	}

	.pd-checkbox {
    padding: 0 0 0 12px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.eng-gen {
		height: 200px;
		width: 200px;
	}

	.gen-td {
    width: 218px;
	}

	.eng-con {
		height: 150px;
		width: 150px;
	}

	.res-td {
    width: 168px;
	}

	.tr-gap {
    height: 200px;
	}

	.rotate-edge {
		margin-left: -50px;
		margin-top: 36px;
	}

	.fact {
		margin-left: -105px;
		margin-top: -105px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.eng-gen {
		height: 250px;
		width: 250px;
	}

	.gen-td {
    width: 268px;
	}

	.eng-con {
    height: 200px;
    width: 200px;
	}

	.res-td {
    width: 218px;
	}

	.tr-gap {
    height: 250px;
	}

	.rotate-edge {
		margin-left: -56px;
	  margin-top: 42px;
	}

	.fact {
		margin-left: -115px;
		margin-top: -135px;
	}


}

/*************************************************************/
/*************************************************************/
